<% if model.errors.any? %>
  <strong><%= pluralize(model.errors.count, "error") %> prohibited this post from being saved:</strong>
  <ul>
    <% model.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
